body {
  background : url('Pic.jpg') no-repeat;
  background-size: cover;
}
h1{
  align-items: center;
  color: aliceblue;
  margin-left: 40%;
}
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
   float: left;
}

p{
  color: aliceblue;

}
li a {
  display: block;
  color: rgb(216, 189, 189);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: white;
}	
button{
  font-size : 20px;
  width : 20%;
  margin-left: 650px;
  border-radius : 5px;
}
body {  
  background : url('Pic.jpg') no-repeat;
  background-size: cover;
}
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
   float: left;
 }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color:whitesmoke;
}	
.t1{
  font-size : 20px;
  margin : 15px 0;
  border-radius : 5px;
}
.t2{
  font-size : 20px;
  margin : 15px 0;
  border-radius : 5px;
}
.submit{
  font-size : 20px;
  margin-left: 15px 0;
  border-radius : 5px;
}
body {
  background : url('Pic.jpg') no-repeat;
  background-size: cover;
}
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}
li {
   float: left;
 }
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: whitesmoke;
}	
.t1{
  font-size : 20px;
  margin : 15px 0;
  font-family: 'Courier New', Courier, monospace;
  border-radius : 5px;
}
.t2{
  font-size : 20px;
  margin : 15px 0;
  font-family: 'Courier New', Courier, monospace;
  border-radius : 5px;
}
.t3{
  font-size : 20px;
  margin : 15px 0;
  font-family: 'Courier New', Courier, monospace;
  border-radius : 5px;
}
.t4{
font-size : 20px;
margin : 15px 0;
font-family: 'Courier New', Courier, monospace;
border-radius : 5px;
}
.t5{
  font-size : 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 60px;
  border-radius : 5px;
}
.photo {
max-width: 500px;
}

.photo img {
width: 500px;
height: 400px;
}
.flex-container {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
background-color: white;
}

.flex-container > div {
background-color: #060606;
margin: 20px;
text-align: center;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
}